.background-image {
    height: 40vh;
    width: 100%;
}

.intro-content {
    width: 350px;
    margin: auto;
}

.intro-title p {
    font-size: 25px;
    font-weight: 600;
}

.text-content p {
    font-size: 14px;
}


  